body{
    font: 16px/18px "FiraSans-Light";
    overflow-x: hidden;
}

.header{
    height: 90px;
    background-color: #8cc34b;
    box-shadow: 0 10px 15px #ccc;
}

.header .user{
    height: 90px;
    display: flex;
    align-items: center;
}

.header .user .user__photo{
    width: 26%;
    height: 90px;
    margin: 0;
}

.header .user .user__photo img{
    margin: 5px 70px 5px 100px;
    border: 3px solid #fff;
    border-radius: 50px;
    height: 90%;
}

.header .user .user__info{
    margin-left: 20px;
}

.header .user .user__info p{
    font: 1.3em/1.4em "FiraSans-Medium";
    color: #fff;
}

.header .user .user__info a{
    font: .875em/1em "FiraSans-Medium";
    color: #e1eed4;
}

.header .user .user__info a:hover{
    font: 1em/1.125em "FiraSans-Medium";
    text-decoration: none;
}

.header .social{
    display: flex;
    margin-right: 100px;
    justify-content: flex-end;
    list-style: none;
}

.header .socialMobile{
    display: none;
}

.header .social li a i{
    margin: 0 10px 0 10px;
    font-size: 45px;
    line-height: 90px;
    color: #e1eed4;
}

.header .social li a i:hover{
    color: #fff;
}

.aboutStudent{
    display: flex;
    flex-wrap: wrap;
    min-height: 475px;
    padding: 75px 0 95px 0;
}

.aboutStudent .aboutStudent__head,
.courses .courses__head{
    margin-bottom: 30px;
    text-align: center;
    opacity: 0;
}

.aboutStudent .aboutStudent__head p,
.courses .courses__head h1{
    font: 2.6em/1.5em "FiraSans-Medium";
}

.aboutStudent .aboutStudent__head span,
.courses__head span{
    font: 1.3em/1.4em "FiraSans-Light";
    color: #727272;
}

.aboutStudent .info,
.aboutStudent .expirience{
    display: flex;
    align-items: center;
}

.aboutStudent .info{
    margin-bottom: 20px;
    position: relative;
    left: -2000px;
}

.aboutStudent .expirience{
    position: relative;
    right: -2000px;
}

.aboutStudent .info .aboutStudent__img,
.aboutStudent .aboutStudent__expImg{
    margin: 0 20px 0 0;
}

.aboutStudent .aboutStudent__info p,
.aboutStudent .aboutStudent__expInfo p{
    font: 1.3em/1.3em "FiraSans-Regular";
}

.aboutStudent .aboutStudent__info span,
.aboutStudent .aboutStudent__expInfo span{
    font: .875em/1em "FiraSans-Light";
    color: #727272;
}

.courses{
    padding: 75px 0 100px 0;
    background: url("../img/gplaypattern.png") repeat;
}

.courses .courses__type{
    margin-bottom: 70px;
    position: relative;
    bottom: -2000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ccc;
    cursor: pointer;
}

.courses .courses__type:hover{
    transform: scale(1.1);
}

.courses .courses__type img{
    width: 100%;
}

.courses .courses__type h3{
    margin: 20px;
    font: 1.3em/1.4em "FiraSans-Regular";
    color: #8cc34b;
}

.courses .courses__type p{
    margin: 0 20px 0 20px;
    font: .875em/1em "FiraSans-Light";
    color: #727272;
}

.courses .courses__type span{
    display: block;
    margin: 30px 20px 10px 20px;
    font: .875em/1em "FiraSans-Light";
    color: #b6b6b6;
}

.courses .courses__type button{
    width: 100%;
    height: 60px;
    font: 1.1em/1.2em "FiraSans-Regular";
    color: #727272;
    background-color: #f6f7f2;
    text-align: center;
    border: none;
    border-radius: 0;
    outline: none;
}

.courses .courses__type button:hover{
    color: #fff;
    background-color: #8cc34b;
}

.footer{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 2;
    bottom: 0;
    background-color: #212121;
}

.modal .modal-dialog .content form{
    background-color: #fff;
    border-radius: 10px;
}

.modal .modal-dialog .content .modal-header{
    display: flex;
    justify-content: space-between;
    background-color: #8cc34b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal .modal-dialog .content .modal-header p{
    width: 90%;
    font: 1.5em/1.6em "FiraSans-Regular";
    color: #fff;
}

.modal .modal-dialog .content .modal-header button{
    font: 1.5em/1.6em "FiraSans-Regular";
    color: #fff;
}

.modal .modal-dialog .content .modal-body p{
    height: 85px;
    background-color: #fff;
    position: relative;
}

.modal .modal-dialog .content .modal-body p input,
.modal .modal-dialog .content .modal-body p select{
    width: 80%;
    height: 40px;
    position: absolute;
    left: 10%;
    top: 35%;
    border: 1px solid transparent;
    border-bottom-color: #d6d6d6;
    outline: none;
}

.modal .modal-dialog .content .modal-body p input:focus,
.modal .modal-dialog .content .modal-body select:focus{
    border-color: #8cc34b;
}

.modal .modal-dialog .content .modal-footer button{
    width: 100%;
    height: 60px;
    font: 1.1em/1.2em "FiraSans-Regular";
    color: #727272;
    background-color: #f6f7f2;
    text-align: center;
    border: none;
    border-radius: 10px;
    outline: none;
}

.modal .modal-dialog .content .modal-footer button:hover{
    color: #fff;
    background-color: #8cc34b;
}

.footer p{
    font: .875em/2.2em "FiraSans-Regular";
    color: #fff;
    text-align: center;
}
